.profile-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/profile-image.jpg');
  background-size: cover;
  background-position: center top;
}

.profile-desc {
  position: relative;
}