.social-media {
  padding: 0;
  list-style: none;
  &__item {
    display: inline-block;
    margin: 0 0.5rem;
  }
}

.fa {
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  color: #306aac;
}

.fa:hover {
  text-decoration: none;
  color: #34495e;
}

.fa.fa-hackerrank {
  background: url('/images/icons/hackerrank.svg') no-repeat scroll center center transparent;
}

.fa.fa-leetcode {
  background: url('/images/icons/leetcode.svg') no-repeat scroll center center transparent;
}