.social-media {
  padding: 0;
  list-style: none;
  &__item {
    display: inline-block;
    margin: 0 0.5rem;
  }
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  text-indent: -25%;
  color: #306aac;
}

.fa:hover {
  text-decoration: none;
  color: #34495e;
}