// Override default variables before the import
$body-bg: #050507;
$body-color: #34495e;

$link-color: #7f8c8d;
$link-hover-color: #95a5a6;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

.flex-even {
  flex: 1;
}

body {
  font-family: 'Asap', sans-serif;
}